@import url('./_center/header__image_center.css');

.header__image {
    display: flex;
    background: url('../../../images/header-backdrop.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 42.89vw;
    width: 100vw;
}

@media screen and (max-width: 768px) {
    .header__image {
        background: url('../../../images/header-backdrop-mobile.png');
        height: 71.484vw;
        background-size: contain;
        margin-top: 88px;
    }
}