.header__img_part_window{
    max-height: 247px;
    align-self: center;
}



@media screen and (min-width: 768px) {
    .header__img_part_window {
        max-height: 361px;
        align-self: flex-start;
    }
}

@media screen and (min-width: 1024px) {
    .header__img_part_window {
        max-height: 288px;
        align-self: center;
    }
}

@media screen and (min-width: 1280px) {
    .header__img_part_window {
        max-height: 361px;
    }
}