@import url('./_type/slider__item_type_image.css');
@import url('./_type/slider__item_type_text.css');
@import url('./_bg/slider__item_bg_dots.css');
@import url('./_bg/slider__item_bg_stripe.css');
@import url('./_bg/slider__item_bg_wave.css');
@import url('./_bg/slider__item_bg_squiggle.css');

.slider__item {
    border-radius: 10px;
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 210px; 
    background-repeat: no-repeat;
    background-size: cover;
}
