.form__button {
  border: 1.7px solid #499B99;
  box-sizing: border-box;
  border-radius: 200px;
  margin: 0;
  font-size: 28px;
  line-height: 39px;
  text-align: center;
  color: #111111;
  width: 184px;
  height: 59px;
  flex-shrink: 1;
}

.form__button:focus {
  background-color: #FFC124;
  border-color: #FFC124;
  font-weight: 500;
}

.form__button:active {
  background-color: #FFC124;
  border-color: #FFC124;
  font-weight: 500;
}

.form__button:hover {
  border: 1.7px solid #FFC124;
  cursor: pointer;
}
