@import url('./__button-container/scroll__button-container.css');
@import url('./__button/scroll__button.css');
@import url('./__button-text/scroll__button-text.css');
@import url('./__dots/scroll__dots.css');
@import url('./__dot/scroll__dot.css');
@import url('./__dot/_active/scroll__dot_active.css'); /*left this one here so it would override scroll__dot style for when the dot is active*/

.scroll {
    display: flex;
    width: 100%;
    padding: 20px 0 20px;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .scroll {
        padding-bottom: 45px;
    }
}

