.founder__img{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    object-fit: contain;
    height: auto;
}

@media screen and (min-width: 768px) {
    .founder__img {
        max-width: 188px;
        margin-bottom: 30px;
        height: auto;
    }
}
@media screen and (min-width: 1024px) {
    .founder__img {
        max-width: 210px;
    }
}
@media screen and (min-width: 1280px) {
    .founder__img {
        max-width: 260px;
    }
}