.header__logo {
    padding-top: 10px;
    padding-left: 20px;
    margin-right: auto;
    width: 60px;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (min-width: 768px) { 
    .header__logo {
        width: 92px; 
    }
}

@media screen and (min-width: 1024px) { 
    .header__logo {
        width: auto;
        height: 100px;
    }
}