@import url('./__image/header__image.css');
@import url('./__link/header__link.css');
@import url('./__logo/header__logo.css');
@import url('./__navbar/header__navbar.css');
@import url('./__scroll/header__scroll.css');
@import url('./__title/header__title.css');

.header {
    background-color: #223D46;
    color: #F8F8F8;
    max-width: 100%;
    padding: 10px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}