.footer__legal {
  margin: 100px 0 40px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #223D46;
}

@media only screen and (max-width: 768px) {
  .footer__legal {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }
}
