@import url('./_italic/paragraph_italic.css');

.paragraph {
    font-family: Inter;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 16px;
    margin: 0 0 20px;
}

@media screen and (min-width: 768px) {
    .paragraph {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 18px;
    }
}
@media screen and (min-width: 1024px) {
    .paragraph {
        font-size: 23px;
        line-height: 31px;
    }
}
@media screen and (min-width: 1280px) {
    .paragraph {
        font-size: 28px;
        line-height: 39px;
    }
}

.paragraph:last-of-type{
    margin: 0;
}

