@import url('./_italic/paragraph_italic.css');

.paragraph {
    font-family: Inter;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    max-width: 1200px;
    margin: 0 0 20px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .paragraph {
        font-size: 23px;
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 769px) {
    .paragraph {
        font-size: 20px;
        margin-bottom: 18px;
    }
}
