.form__custom {
  border: 1.7px solid #499B99;
  box-sizing: border-box;
  border-radius: 200px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;
  text-align: center;
  color: #111111;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form__custom:focus {
  background-color: #FFC124;
  font-weight: 500;
}

.form__custom:active {
  background-color: #FFC124;
  font-weight: 500;
}

@media only screen and (max-width: 1023px) {
  .form__custom {
    flex-grow: 1;
  }
}
