.founder__text{
    width: 100%;
    padding-top: 20px;
}

/*looked better breaking around 500*/
@media screen and (min-width: 500px) {
    .founder__text {
        grid-row: span 2;
        padding:0;
    }
}