.founder__links{
    margin: 0;
    order: 3;
    padding-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    
    
}

/*looked better breaking around 500*/
@media screen and (min-width: 500px) {
    .founder__links {
        grid-row: span 2;
    }
}

