.slider__item_type_text{
    background: #FFC124;
    width: 288px;
    min-height: 180px;
    
}


@media screen and (min-width: 768px) {
  .slider__item_type_text {
      width: 343px;
      min-height: 210px; 
    }
}
@media screen and (min-width: 1024px) {
  .slider__item_type_text {
      width:302px;
    }
}
@media screen and (min-width: 1280px) {
  .slider__item_type_text {
      width:382px;
    }
}